@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background:url(../assets/bg.png); */
    height: 100vh;
    overflow-x: hidden;
    
    /* padding: 30px 40px; */
    font-family: "Quicksand", serif;
   
}
.max-width{
    max-width: 1440px;
    margin: 0 auto;
}
marquee{
    /* border: 1px solid red; */
    /* border-radius: 50px; */
    /* padding-top: 10px; */
    margin-top: 10px;
    background-color: #05D4DF;
}



header{
    padding: 20px 100px;
  
    /* justify-content: space-between; */
    
    /* width: 1440px; */
    /* display: flex; */
    /* padding-top: 30px; */
    max-height: auto;
}
main{
    background: url(../assets/bg.png);
    padding: 20px 100px;
}
.navbar{
    width: 100%;
    height: 60px;
  margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    /* height: 62px;
    width: 62px; */
}
.logo h1{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
}
ul{
    display: flex;
    /* margin-right: 10px; */
    /* padding: 10px; */
}
 #home{
    color: #FEA301;
}
#about{
    color: #01ACFD;
}
#facilities{
    color: #05D4DF;
}
#admission{
    color: #5D58EF;
}
ul li{
    font-size: 20px;
    margin-right: 20px;
    list-style: none;
}
 a{
    
    text-decoration: none;
}
.toggle-bars{
        display: none;
}
.btn{
    width: 197px;
    height: 50px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #FEA301;
    /* padding: 10px 30px; */
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    color: #fff;
}
.banner{
    height: 100%;
    width: 100%;
    /* padding: 24px 80px 24px 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-bottom: 6px dashed rgb(247, 247, 247);
}
.banner h1{
    font-size: 56px;
    font-weight: 700;
}
.hero-kids-contents p{
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 20px;
}
.hero-kids-contents a{
    padding: 10px 30px;
    color: #fff;
    border-radius: 12px;
    background-color: black;
}
.Empowering{
    color: #FEA301;
}
.towards{
    color: #01ACFD;
}
.hero-kids-contents{
    flex: 1 1 60%;

}
.hero-kids-img{
    flex: 1 1 40%;
}
.hero-kids-img img{
    height: 450px;
    width: 368.61px;
}

.kinder-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.image-1{
    padding-top: 40px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.image-1 {
    padding-bottom: 60px;
}
.image-1 a{
    color: #01ACFD;
    line-height: 28px;
    font-size: 16px;
}

.image-2{
    padding-top: 40px;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.image-2 a{
    color: #FEA301;
    line-height: 28px;
    font-size: 16px;
}
.image-3{
    padding-top: 40px;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.image-1 a{
    color: #05D4DF;
    line-height: 28px;
    font-size: 16px;
}
.kinder-images h4{
    padding-top: 20px;
}
.kinder-images p{
    color: rgb(128, 128, 128);

    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 1.8;
}
.standard-curriculm{
    text-align: center;
}
.standard-curriculm h1{
    color: rgb(0, 0, 0);

    font-size: 46px;
    font-weight: 700;
    padding: 60px 0px 60px 0px;

}
.chevron-section{
    padding:  60px;
   
}
.chevron{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
}
.chevron a {
    width: 60px; /* Fixed width */
    height: 60px; /* Fixed height */
    line-height: 60px; /* Centers the text/icon vertically */
    border-radius: 50%;
    font-size: 24px;
    background-color: #FEA301;
    display: inline-block;
    text-align: center; /* Centers the text/icon horizontally */
    box-sizing: border-box; /* Ensures borders are included in size */
    text-decoration: none; /* Optional: removes underline from links */
    color: #fff; /* Optional: sets the icon color */
}

/* -----------Story section--------- */
/* .bg-color{
} */
 /* .linear-graient{
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);

 } */
 .main-section{
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3) 10%,rgba(255, 255, 255, 0.3) 25%);

 }
.stories-starting{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.story-1{
    background-color: #fff;
    border-radius: 16px;
}
.story-1 img{
    border-radius: 16px 16px 0 0;

}

.story-2{
    background-color: #fff;
    border-radius: 16px;
}
.story-2 img{
    border-radius: 16px 16px 0 0;
}
.story-2 .btn-1{
    font-size: 16px;
    font-weight: 500;
}
.story-padd a{
    /* position: absolute; */
    position: relative;
    margin-top: -25px;
    /* padding-bottom: 0px; */
}
.story-1-padd {
    padding-left: 30px;
}
.story-1-padd p{
    margin-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(102, 102, 102);
    line-height: 1.6;
}
.story-1-padd a{
    
    position: relative;
    margin-top: -25px;
}
 .story-padd .btn-1{
    width: 180px;
    height: 40px;
    background: rgb(149, 178, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.story-1-padd .btn-first{
    width: 180px;
    height: 40px;
    background: rgb(60, 216, 232);
        display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    color: #fff;
  
}
.story-3{
    /* position: ab; */
    display: none;
}
.butn{
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.butn a{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 35px;
    background: black;
    color: #fff;
    border-radius: 8px;
}
.story-1-padd h4{
    padding-top: 30px;
    font-size: 24px;
    font-weight: 700;
}
.story-padd .btn-2{
    width: 180px;
    height: 40px;
    background: rgb(93, 88, 240);
        display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 20px;

}
.story-padd .btn-4{
    width: 140px;
    height: 40px;
    background: rgb(149, 178, 38);
        display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 20px;
}

.story-padd{
    padding-left: 20px;
}
.story-padd p{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
}

.story-two-to-six{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.our-stories{
    /* text-align: center; */
    /* background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%); */
}
.our-stories .butn{
   padding: 20px;
   background: black; 
}
.our-stories img{
    width: 100%;
    /* height: 100%; */
}

/* ------------footer--------- */
footer{
    background: rgb(1, 172, 253);
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 80px;
    padding-left: 80px;
}
.foot-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
.footer-text{
    display: flex;
    align-items: center;
}
.footer-text img{
    height: 80px;
    /* background-color: #fff; */
}
.footer-text h1{
    padding-left: 10px;
    color: #fff;
}
.text{
    gap: 20px;
}
.text p{
    width: 400px;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* padding-right: 150px; */

}
.ul-li-links{
    flex-direction: column;
}
.ul-li-links li{
    padding-bottom: 20px;
    font-weight: 500;
    
}
.ul-li-links a{
    color: #fff;
}
.ul-li-links #about{
    font-weight: 700;
    color: #fff;
   
}
.social h3{
    color: #fff;
    padding-bottom: 12px;
}






@media screen and (max-width:576px){
    .links, .btn{
        display: none;
    }
    .toggle-bars{
        display: block;
        font-size: 26px;
        /* width: 22.5px;
        height: 15px; */
    }
    .logo h1{
        display: none;
    }
    .navbar{
        padding-bottom: 25px;
        border-bottom: 1px solid orange;
    }

    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    body{
        padding: 30px;
    }
    .kinder-images{
        grid-template-columns: 1fr;
    }
    .standard-curriculm h1{
        /* font-size: 26px; */
       font-weight: 600;
    }
    .story-3{
        display: block;
    }
    .display-none-story-1{
        display: none;
    }
    .foot-div{
        display: flex;
        flex-direction: column;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    .text p{
        width: 375px;
    }
    footer{
        padding-right: 16px;
        padding-left: 16px;
    }
    .story-two-to-six{
        align-items: center;
        /* display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        max-width: 500px; */
    }
    .stories-starting{
        display: flex;
    }
    main{
        padding: 20px 16px;
    }
    header{
        padding: 20px 16px;

    }
    
}